body {
  background-color: #cfb495;
}

.switch_theme {
  background-color: #758184;
}

.vertical_line {
  z-index: 5;
  position: absolute;
  left: 50%;
  width: 3px;
  height: 100vh;
  background-color: #2c2b2f;
}

.racoon {
  position: absolute;
  left: 40.3%;
  top: 37.3%;
  fill: #5d5b6a;
}

.dot {
  z-index: 6;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 49.5%;
  top: 50.64%;

  fill: #cfb495;
}
